@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Satisfy&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Dongle', sans-serif;
    
}

.nav-menu{

    background-color: black;
    width: 100%;
    overflow: auto;
    font-size: 48px;
    
}

.nav-menu a {
    float: none;
    display: block;
    text-align:center;
    color: whitesmoke;
  }


/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .nav-menu a{
        color: whitesmoke;
        padding: 0px 25px;
        float: right;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}