@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Satisfy&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    
}

body,html {
    width: 100vw;
    height: 100vh;
    font-family: 'Dongle', sans-serif;
    background-image: url("https://media.istockphoto.com/id/1390650720/de/foto/digitale-netzwerkverbindung-abstrakte-verbindung-von-punkten-und-linien-technologischer.jpg?s=612x612&w=0&k=20&c=ZmoADb8dNxIWDMM-Fsb2tUj-J6Vc20Zm9iTFYbBhqvo=");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-size: 25px;
    color: whitesmoke;
}

.nav-menu{
    background-color: black;
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.nav-menu a {
    text-align:center;
    color: whitesmoke;
    
}

.main-container {

    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white;
    font-size: 32px;
    
}

.centered {
    position: absolute;
    left: 9%;
    transform: translate(1%, 123%);
}

.link {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -529px;
    left: 125px;
    gap: 15px;
}

.link img{
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

/* mywork page */

.project-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 26px;
    text-align: center;
    gap: 10px;
}

.project-wrapper img{
    height: 135px;
    /* margin-top: 20px; */
}
.project a{
    color: gold;
}
.myworkpage h5{
    font-size: 30px;
    text-align: center;
    color: peachpuff;
    font-weight: 100;
}

.contact-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
input[type=text], select, textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    /* margin-bottom: 16px; */
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 60px;
  }
  
  input[type=submit]:hover {
    background-color: #e7ebe7;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .cont-details a{
    color: whitesmoke;
  }
 


/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .nav-menu{
        flex-direction: row;
        justify-content: end;
        font-size: 32px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .nav-menu{
        flex-direction: row;
        justify-content: end;
        font-size: 40px;
        
    }
    .nav-menu a{
        padding: 0px 60px;
    }
    
    .centered {
        position: absolute;
        top: 50%;
        left: 35%;
        
    }
    .centered h3,h4{
        font-size: 50px;
    }
    .link{
        flex-direction: column;
        position: absolute;
        top: 300px;
        left: 50px;
        gap: 1px;
    }
    .link img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    /* mywork page */

.project-wrapper{

    
    flex-direction: row;
    flex-wrap: wrap;
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
    gap: 30px;
}

.project-wrapper img{
    height: 215px;
    margin-top: 20px;
}

.project a{
    font-size: 20px;
}

.project h4{

    font-size: 36px;
    font-weight: 500;
}
.myworkpage h5{
    font-size: 30px;
    text-align: center;
    color: peachpuff;
    font-weight: 100;
}

.contact-container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 45px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}